<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>...</title>
    <link rel="stylesheet" href="jspm_packages/github/twbs/bootstrap@3.3.4/css/bootstrap.css"/>
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>-->
    <link rel="stylesheet" href="build/css/main.css"/>
    <!--<link rel="stylesheet" href="css/main.min.css"/>-->
</head>
<body ng-app="app">
<div class="container">
    <div class="jumbotron">
        <h1>Student Test Scores</h1>
        <div ng-controller="scoreTableController">
            <h3>
                <small>Min : </small>  {{min}}
                <small>Max : </small>  {{max}}
                <small>Avg : </small>  {{avg}}
            </h3>
            <form class="form-inline" name="studentForm" ng-submit="submit()">
                <div class="form-group">
                    <ng-form name="studentFieldForm">
                        <label>Student : </label>
                        <input type="text" class="form-control" name="student" ng-model="data.student.fname" required placeholder="first">
                        <input type="text" class="form-control" name="student" ng-model="data.student.lname" required placeholder="last">
                        <input type="number" class="form-control" name="student" ng-model="data.student.score" required placeholder="score">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </ng-form>
                </div>
            </form>
            <p class="help-block text-center" ng-show="students === null">Loading student records...</p>
            <react-component name="StudentTable" props="data" watch-depth="value"/>
        </div>
    </div>
</div>
<script src="jspm_packages/system.js"></script>
<script src="config.js"></script>
<script>
    System.import('build/js/main');
</script>
<!--prod-->
<!--<script src="js/app.min.js"></script>-->
</body>
</html>